@model AppDev1670.ViewModels.Help
@using AppDev1670.ViewModels

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_layout";
}
<div class="text-center">
    <h1 class="display-10 btn-danger">ABOUT THE WEBSITE</h1>
    <p>
        Welcome to our book-selling website! We are proud to be part of the book-loving community and are committed to providing our customers with the best online book shopping experience.
        With over thousands of books in various genres such as textbooks, reference books, literature, comics, magazines, we offer a rich and diverse library.
        Furthermore, we ensure that our products are of the highest quality with books published by reputable publishers from around the world. Our customer support team is always ready to answer any questions you may have and help you with your shopping experience.
        Additionally, our website is designed with a user-friendly interface that is easy to use for every customer. You can easily search and purchase your favorite books with just a few clicks.
        We always update our attractive discounts, promotions, and flexible shipping and payment policies to ensure that our customers have the best online book shopping experience.
        Please visit our website to experience the best online book shopping experience!
    </p>
</div>
<div class="text-center">
    <h2 class="display-10 btn-danger" > CONTACT US</h2>
    <p>
        Email: hunglvgcd191237@fpt.edu.vn
    </p>
    <p>
        Phone Number: 0999999999
    </p>
    <p>
        Address: 658 Ngo Quyen, Son Tra, Da nang, Viet Nam
    </p>
</div>