
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using AppDev1670.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FPT Books</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <script src="https://kit.fontawesome.com/010fbcb13d.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

   
    <link href="~/fonts/icomoon/style.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    
    
    <!-- Style CSS -->
   
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" >
                    <img src="https://dailygiamgia.com/wp-content/uploads/2017/10/fpt-shop.png" alt="Girl in a jacket" width="200" height="80">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial"/>
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Role.STORE_OWNER))
                        {
                            <li class="nav-item">
                            </li>
                        }
                        @if (User.IsInRole(Role.CUSTOMER))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark mr-4" asp-controller="Help" asp-action="Index">
                                    <i class="btn-danger"></i> Help
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Role.CUSTOMER))
                        {
                            <li class="nav-item">
                                
                                <a class="nav-link text-dark mr-4" asp-controller="OrderDetails" asp-action="Index">
                                    <i class="fa-solid fa-cart-shopping"></i> Your Cart
                                </a>
                            </li>
                            
                            <li>
                                <form asp-action="Index" asp-controller="Customer" method="get">
                                    <input type="text" style="width: 300px;" name="nameOrCategoryBook" placeholder="Search by Name "/>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </form>
                            </li>
                        }
                        @if (User.IsInRole(Role.STORE_OWNER))
                        {
                            <li class="nav-item">
                            </li>
                        }
                        @if (User.IsInRole(Role.ADMIN))
                        {
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-16371">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 text-center">
                    <div class="footer-site-logo mb-4">
                        <a href="#">FPT Book Shop</a>
                    </div>
                   
                    <div class="social mb-4">
                        <h3>Stay in touch</h3>
                        <ul class="list-unstyled"> 
                            <li class="in"><a href="#"><span class="icon-instagram"></span></a></li>
                            <li class="fb"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="tw"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="pin"><a href="#"><span class="icon-pinterest"></span></a></li>
                            <li class="dr"><a href="#"><span class="icon-dribbble"></span></a></li>
                        </ul>
                    </div>

                    <div class="copyright">
                        <p class="mb-0"><small>&copy; Team Application Dev. All Rights Reserved.</small></p>
                    </div>


                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
